<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>FlaskTODO</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">Todo content</label></b>
        </p>
        <p>
            <input type="text" name="name"
                placeholder="Name Content"></input>
        </p>
        <p>
            <input type="text" name="description"
                placeholder="Description Content"></input>
        </p>
        <p>
            <input type="text" name="phrases"
                placeholder="Phrase Content"></input>
        </p>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>